<% include include/header.ejs %>
<div class="container-fluid content" >
    <div class="banner">
        <img src="/images/img/banner_home.png" alt="">
        <div class="bannerBox">
            <h1>przepisik</h1>
        </div>
    </div>
    <div class="container">
        <section class="przepisy_home error-site">
            <h1 class="text-center display-1">Coś poszło nie tak..</h1>
            <h2 class="text-center display-4"><%=error_message%></h2>
        </section>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
